/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    width: 250px;
    color: gainsboro;
    box-shadow: 4px 6px 20px #31363b;

}
.obsah {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
}
.jmeno {
    font-family: 'Montserrat', sans-serif;
}

.logo {
    background-color: #b92e81;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    left: 180px;
}

div {
    background-color: #31363b;
    
}

a {
   text-decoration: none;
   color: gainsboro;
}
ul {
    list-style-type: none;
    padding: 0;
}


.odkazy {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 100%; 
}

.portfolio {
    display: block;
    border-top: 2px solid #3f464d;
    border-bottom: 2px solid #3f464d;
    text-align: center;
    padding: 0.5rem;
    
}
.facebook {
    display: inline-block;
    margin: 0;
    border-spacing: 0;
    text-align: center;
    padding: 0.5rem;
    width: 49%;
    box-sizing: inherit;
}
/* Nevím, proč mi nefunguje width: 50%, ale musí bžt 49%*/
.twitter {
    display: inline-block;
    border-left: 2px solid #3f464d;
    margin: 0;
    text-align: center;
    padding: 0.5rem;
    width:49%;
    box-sizing: border-box;
}
.portfolio:hover {
   background-color: #e74c3c;
}
.facebook:hover {
   background-color: #3b5998;
}
.twitter:hover {
    background-color: #1da1f2;
}